html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-image: url("../img/footer.png"); */
    background: linear-gradient(45deg, rgba(48, 248, 145, 0.15) 0%, rgba(61, 146, 56, 0.04) 75%, rgba(96, 167, 48, 0) 100%);
    background-position: center bottom;
    transform: translateZ(0);
    perspective: 1000;
}

#block{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#background{
    position: absolute;
    top: 40px;
    width: 350px;
    height: 250px;
    border: 1px solid rgba(238, 238, 238, 0.1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(238, 238, 238, 0.5) 100%);
    box-shadow: 0 25px 50px rgba(0, 0, 0, .1);
    border-radius: 7px;
    z-index: 1;
    overflow: hidden;
    padding-top: 40px;
}

#icon{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 80px;
    transform: translate(-50%, 0%);
    height: auto;
    z-index: 2;
}
h1{
    color: rgb(74, 74, 74);
    text-align: center;
    font-size: 1.5rem;
}
p{
    color: rgb(74, 74, 74);
    text-align: center;
}
#store{
    filter: grayscale(100%);
    opacity: 0.5;
    color: rgb(74, 74, 74);
    padding: 10px;
    box-sizing: border-box;
    font-size: 0px;
}
#goosrc{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 47px;
    background-image: url('../img/google-play-badge.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0px;
    /* margin-left: 0.5%; */

    cursor: not-allowed;
}
#goosrc.one{
    width: 100%;
}
#appsrc{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 47px;
    background-image: url('../img/app-store-badge.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0px;
    /* margin-right: 0.5%; */

    cursor: not-allowed;
}
#appsrc.one{
    width: 100%;
}
#iosLogin{
    display: none;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #3d983c;
}

#websrc{
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #3d983c;
}

#background-coscup{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../img/glow_web.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    transform: translateY(-132px) rotate(150deg);
    transition: all 2s;
}
@media screen and (max-width: 720px) {
    #background-coscup {
        left: -200px;
        right: -200px;
        top: -200px;
        bottom: -200px;
        transform: translateY(-132px) rotate(120deg);
    }
}

/* .subpage--banner {
  width: 100%;
  overflow: hidden
}
@media screen and (min-width: 720px) {
    .subpage--banner #hero, 
    .subpage--banner .layer {
        z-index: -1;
        min-height: 912px;  
        position: absolute;
        top: 0;
        left: 0;
    }
} */
 /* @media screen and (max-width: 719px) {
  .subpage--banner #hero, 
  .subpage--banner .layer {
     min-height: 550px; 
  }
} 
.subpage--banner #hero {
  width: 100%;
  height: 100%;
  transform: translateX(-7.5%) scale(1.15);
}
.subpage--banner #hero .layer {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.subpage--banner #hero .layer-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/sub-bg.png");
  background-position: center bottom;
}
.subpage--banner #hero .layer-2 {
  background-image: url("../img/sub-dot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
} */